/android_application/*.iml
/android_application/.gradle
/android_application/local.properties
/android_application/.idea/caches
/android_application/.idea/libraries
/android_application/.idea/modules.xml
/android_application/.idea/workspace.xml
/android_application/.idea/navEditor.xml
/android_application/.idea/assetWizardSettings.xml
/android_application/.DS_Store
/android_application/build
/android_application/captures
/android_application/.externalNativeBuild
/android_application/.cxx
